html,body {
    font-family: Raleway;
}
.flexCentre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexColummCentre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexColumAround{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flexColumBetween{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sizeLiens{
    width: 100%;
}
.sizeLiens12{
    margin-left: 60%;
}

.sizeLien{
    width: 140px;
    height: 99px;
}
.decorationNone{
    text-decoration: none;
}
/*Couleurs*/ 
.ColorB{
    color: blue;
}
.ColorGris{
    color:rgba(87, 84, 84, 0.158);
}
.backBleu{
    background-color:blue;
}
.backGris{
    background-color:gray;
}
/*Nav*/ 
.bordureNav{
    border-top: 1px solid blue;
}

/*HEADER*/
.destopnone{
    display: none;
}
.Borduresearch {
    width: 400px;
    border-radius: 10px;
    border: 0.5px ;
}
.recherche{
    height:50px ;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.iconSize{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px ;
}
.bordureNone{
    border: none;
}
.paddingsearch{
    padding-left: 20px;
}
.buttonsearch{
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0 ;
}
/*Filtres eco fam rom aa*/
.filtre{
    display: flex;
    align-items: center;
}
.margfiltre{
    margin-top: 50px;
    margin-bottom: 40 px ;
}
.margfiltreTitre{
    margin-right: 20px;
}
.filtreTextIcons {
    border: 2px solid;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.filtreTextIcons:hover > .filtreTexte{
    color:blue
}
.filtreTextIcons:hover > .filtreIcons{
color: white;
background-color: blue;
}
.filtreTexte{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0 ;
}
.filtreIcons{
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: blue;
    background-color: #deebff;
}
/*info*/
.info{
    display: flex;
    align-items: center;
}
.parentsicon{
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}
/*Hebergement*/
.sizehébergements{
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}
.sizepopulaire{
    flex: 1;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}
.blockhebergement{
padding-left: 20px;
padding-right: 20px;
}
.cubehebergement{
width: 30%;
height: auto;
background-color: white;
padding: 1%;
border-radius: 20px;
box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.DHebergement{
    width: 90%;
}
.imghebergement1{
background-size: cover;
background-position:center;
width: 100%;
height: 120px;
border-radius: 15px 15px 0 0 ;
}
.imghebergement2{
background-size: cover;
background-position:center;
width: 100%;
height: 120px;
border-radius: 15px 15px 0 0 ;
}
.imghebergement3{
background-size: cover;
background-position:center;
width: 100%;
height: 120px;
border-radius: 15px 15px 0 0 ;
}

.imghebergement4{
background-size: cover;
background-position:center;
width: 100%;
height: 120px;
border-radius: 15px 15px 0 0 ;
}
.imghebergement5{
background-size: cover;
background-position:center;
width: 100%;
height: 120px;
border-radius: 15px 15px 0 0 ;  
}
.imghebergement6{
background-size: cover;
background-position:center;
width: 100%;
height: 120px;
border-radius: 15px 15px 0 0 ;
}
.bloc1{
    margin-bottom: 10px;
}
.bloc2{
    margin-top: 10px;
}

/*populaire*/
.blocpopulaire {
    padding-left: 20px;
    padding-right: 20px;
}

.cubepopulaire{
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
}
.blocpopulaire1et2{
    margin-bottom: 20px;
}

.cubeDpopulaire{
    width: 60%;
    padding-left: 5%;
}
.imgpopulaire1{
    background-size: cover;
    background-position:center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px ;
    }
.imgpopulaire2{
    background-size: cover;
    background-position:center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px ;
}
.imgpopulaire3{
    background-size: cover;
    background-position:center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px ;
    }
/*Activité*/

.Activité{
    margin-top: 50px;
    margin-bottom: 50px;
}
.blocActivité{
    width: 100%;
    height: 600px;
}
.bActivité2356{
width: 23%;
height: 600px;

}
.cubeactivité{
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cActivité2356{
width: 100%;
border-radius: 15px;
box-shadow: 5px 5px 5px 1px #f2f2f2;


}
.imgActivité1{
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0 ;
}
.imgActivité2{
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0 ;
}
.imgActivité3{
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0 ;
}
.imgActivité4{
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0 ;
}
.imgActivité5{
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0 ;
}
.imgActivité6{
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0 ;
}


.hauteurTitre{
    height: 70px;
}
.TitreActivité{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}
/*Footer*/

.footer{

    height: 300px;
    margin-top: 100px;
}
.tailleblocfoot{
height: 150px;

}
.margeblocfoot1{

    margin-left: 5%;
}
.margeblocfoot3{

    margin-right: 15%;
}
/*responsive*/

@media screen and(max-width: 1295px) {

    .sizeLiens12{

        margin-left : 35%;
    }
.DHebergement{

    min-height: 150px;
}
.sizehébergements{
    min-height: auto;
    padding: 20px;
}
.sizepopulaire{
    min-height: auto;
    padding: 20px;
}

.tstp{

    margin-top: 0;
}

}
@media screen and (max-width:990px) {
    .mobilefiltre{
flex-direction: column;
align-items: flex-start;
}
.filtreTextIcons{
   margin-bottom: 20px;
}
#hebergement{
    flex-direction: column-reverse;
    width: 100%;
}
.blocpopulaire{
    flex: none;
    width: 90%;
    margin-left: 0;
    padding: 5%;

}
.blockhebergement{
    flex: none;
    width: 90%;
    margin-right: 0;
    margin-top: 50px;
    padding: 5%;
}

}
@media screen and (max-width:770px) {
    .sizeLiens{
    width: 90px;
}
    
    .sizeLiens12{
        margin-left: 20%;
    }
    .blockhebergement{
height: auto;
    }
    .bloc1{
flex-direction: column;
margin-bottom: 0;
    }
    .bloc2{
flex-direction: column;
margin-top: 0;
    }
    .cubehebergement{
        width: 100%;
        margin-bottom: 50px;
    }
    .DHebergement{
        min-height: auto; 

    }
    .blocActivité{
        flex-direction: column;
        height: auto;
    }
    .cubeactivité{
        width: 100%;
        margin-bottom: 50px;
    }
   
    .bActivité2356{
        width: 100%;
        height: auto;
    }
    .cActivité2356{
        margin-bottom: 50px;
    }
    .imgActivité1,.imgActivité2,.imgActivité3,.imgActivité4,.imgActivité5,.imgActivité6{
        height: 200px;
    }
    .footer{
        flex-direction: column;
        align-items: flex-start;
        height: auto ;
        padding-left: 20px;
    }
    .margeblocfoot1{
        margin-left: 0;

    }
}
@media screen and (max-width:600px) {
    /*.sizeLien{
        flex-direction: row;
    }*/
    .sizeLiens12{
        order: 1;
        width: 100%;
        margin-left: 0;
    }
    .sizeLienMobile{
        width: 50%;
        border-top: none;
        border-bottom: 5px solid #f2f2f2;
 

    }
    .sizeLiens{
        height: auto;
        width:100% ;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sizeLienMobile:hover{
        
        border-top: 0;
        border-bottom: 5px solid #0065fc;
    }
    .mobileth1{
        font-size: x-large;
    }
    .Borduresearch{
        width: auto;
        border: none;
    }
    .recherche{
        width: 200px;
        border-bottom: 1px solid #f2f2f2;
        border-top: 1px solid #f2f2f2;
    }
    .buttonsearch{
        width: 50px;
        border-radius: 15px;
    }
    .destopnone{
        display: block;
    }
    .mobileNone{
        display: none;
    }
    .margfiltre{
        padding-left: 5%;
    }
    .mobileeconomique{
        margin-right: 5px;

    }
    .mobilefamiliale{
        margin-right: 0;

    }
    .filtreTexte{
        padding-left: 10px;
        padding-right: 10px;

    }
    .info{
        padding-left: 5%;
    }
    .blocpopulaire{
        border-radius: 0;
    }
    .blockhebergement{
        background-color: white ;
    }
    .mobileTpara{
        padding-left: 5%;

    }
    .blocActivité{
        padding: 5%;
        width:90% ;
    }


    .htlm,body {
        margin: 0;
        padding: 0;

    }
}